@charset "UTF-8";
/*@import "http://fonts.googleapis.com/css?family=Raleway";
----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

#operations-container{
    width: 100%;
    background-color: white;
    margin-top: 140px;
    margin-right: 3%;
    position: relative;
}

#popupContact{
    width: 100%;
    position: absolute;
    margin-left: 5%;
    font-family:'Raleway',sans-serif;
}

#editForm {
    border-radius:10px;
    font-family: Inter, "Roboto Medium", Arial, ui-rounded, Helvetica, sans-serif;
    background-color:#fff;
}

.field-container{
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-formEdit:hover{
    background-color: rgba(225, 232, 235, 0.8);
}

.input-formEdit{
    width: 100%;
    height: 35px;
    margin-top: 7px;
    background-color: #e1e8eb;
    outline: none;
    display: block;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: black;
    font-family: "Yu Gothic UI", Arial, ui-rounded;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
}

.form-button:hover{
    opacity: .80;
}

#edit-btn{
    background: none;
    padding: 0;
    border: none;
}

#edit-btn img{
    cursor: pointer;
}

.form-button{
    border-radius: 3px;
    margin: 2% 2% 2% 0;
    border: none;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: Inter, "Roboto Medium", Arial, ui-rounded;
    cursor: pointer;
}

.search-input{
    padding: 5px;
    width: 250px;
    border-radius: 2px;
    border: none;
    height: 28px;
    margin-right: 30px;
    background-color: #e1e8eb;
}

.form-button.insertar{
    color: #1471de;
    width: 100%;
}

.form-button.save{
    background-color: #1E5EFFB8;
    color: white;
}

.form-button.delete{
    color: #FF00008C;
}

.form-button.cancel{
    border: none;
    color: #1471DEFF;
    background-color: transparent;
}

#button-container{
    position: relative;
    top: 20%;
}

.tooltip-container {
    opacity: 90%;
    width: 10px;
    border: 1px #1471de;
    border-radius: 7px;
    background-color: red;
}

.tooltip-container img{
    cursor: pointer;
}

.tooltip-container:hover{
    top: 29%;
    transition-duration: .8s;
}

.tooltip_container .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip-container:hover .tooltiptext {
    visibility: visible;
}

/*
********************
PANEL DE ERROR
********************
 */
#general-error-panel{
    z-index: 1;
    top: 30%;
    left: 40%;
    background: white;
    position: absolute;
    width: 400px;
    text-align: center;
    display: grid;
    border-radius: 8px;
    box-shadow: 0 2px 4px #797878FF, 0 2px 3px #797878FF;
}

#gep-img{
    margin-top: 10px;
}

#gep-img span{
    font-family: Inter,sans-serif, Arial;
    font-weight: bold;
    font-size: 2rem;
}

#error-message{
    font-family: Inter,sans-serif, Arial;
    font-size: 1.5rem;
}

#gep-button{
    font-family: Inter,sans-serif, Arial;
    font-weight: bold;
    font-size: 1.6rem;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #FA415BFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#gep-button:hover{
    background: #FA415BCB;
}

/******************************************
******* PANEL DE EXITO ************
*******************************************
 */
#general-success-panel{
    z-index: 1;
    top: 30%;
    left: 40%;
    background: white;
    position: absolute;
    width: 350px;
    text-align: center;
    display: grid;
    height: 155px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #797878FF, 0 2px 3px #797878FF;
}

#gsp-img{
    margin-top: 10px;
    position: absolute;
    bottom: 50%;
    left: 40%;
}

#gsp-img span{
    font-family: Inter,sans-serif, Arial;
    font-weight: bold;
    font-size: 2rem;
}

#success-message{
    align-self: self-end;
    font-family: Inter,sans-serif, Arial;
    font-size: 1.5rem;
}

#gsp-button{
    font-family: Inter,sans-serif, Arial;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 2%;
    height: 35px;
    border: none;
    cursor: pointer;
    align-self: self-end;
    background: #2DD284FF;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#gsp-button:hover{
    background: #2DD284C3;
}